<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Adm</title>
    <link rel="stylesheet" href="/css/style-adm-page.css">
</head>
<body>
    <div class="welcome" style="align-items: center;width: 100%;height: 100%;background-color: transparent;">
        <h1>Parabens!!</h1>
        <br>
        <p>Você cadastrou seu produto em nossa loja</p>
        <br>
        <a href="/adm-page">Voltar</a>
    </div>
</body>
</html>