<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style-adm-page.css">
    <title>Pagina Adm</title>
</head>
<body>
    <div class="container">
        <div class="buttons">
            <a class="novos-produtos">Adicionar novos produtos</a>
            <a class="recuperacao-dados">Recuperação de dados</a>
        </div>
        <div class="configs">

        </div>
    </div>
    <script src="/js/script-adm-page.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>